/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  /* You can add more styles here if needed */
  width: 100%; /* Ensure the content takes full width available */
  max-width: 500px; /* Default max width for the modal */
}
